# Global ignores for all projects
.DS_Store
.env

# IDEs
.idea/
.vscode/
.metals/

# Build tool specific entries
.bloop
target/
metals.sbt
project/project

# Subproject-specific ignores
frontend/node_modules/
backend/target/